<% @body_id = 'image' %>

<header id="header">
  <h1><a href="http://www.getcloudapp.com/">Simple sharing</a></h1>

  <h2><%= @drop.name %></h2>

  <a class="embed" href="<%= @drop.content_url %>#">Direct link</a>
</header>

<section id="content">
  <img alt="<%= @drop.name %>" src="<%= @drop.content_url %>">
</section>
