<script src="/javascripts/image.js"></script>

<header id="header">
  <% unless @drop.subscribed? %>
    <h1><a href="http://www.getcloudapp.com/">Simple sharing</a></h1>
  <% end %>

  <h2><%= escape_html @drop.name %></h2>

  <a class="embed" href="<%= @drop.content_url %>">Direct link</a>
</header>

<section id="content">
  <img alt="<%= escape_html @drop.name %>" src="<%= @drop.content_url %>">
</section>
