<div class="wrapper">
  <section id="content">
    <figure class="<%= @drop.item_type %>"></figure>

    <h2><%= escape_html @drop.name %></h2>

    <p>
      <a href="<%= @drop.content_url %>">View</a>

      <small>or <strong>opt</strong>/<strong>alt click</strong> to download</small>
    </p>
  </section>

  <% unless @drop.subscribed? %>
    <footer id="footer">
      <h1><a href="http://www.getcloudapp.com/">Simple sharing</a></h1>
    </footer>
  <% end %>
</div>
