<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title><%= @drop.name %></title>

  <meta content="text/html; charset=utf-8" http-equiv="content-type" />

  <meta content="CloudApp" name="author" />

  <link href="/favicon.ico" rel="shortcut icon" />

  <link href="/stylesheets/other/slugs.css" rel="stylesheet">

  <!--[if IE]>
  <link href="/stylesheets/other/iefix.css" rel="stylesheet">
  <![endif]-->
</head>

<body id="other">
  <div id="wrapper">
    <div class="clearfix" id="header">
      <h2 class="left"><a href="http://getcloudapp.com">CloudApp</a></h2>

      <p class="right">
        Share. Files. Fast.
      </p>
    </div>

    <div id="container">
      <div class="clearfix item">
        <h1 class="description left <%= @drop.item_type %>"><%= @drop.name %></h1>

        <p class="download right">
          <a href="<%= @drop.content_url %>">Download</a>
        </p>
      </div>
    </div>
  </div>
</body>
</html>
