<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en">
  <head>
    <title><%= @drop.name %></title>

    <meta charset="utf-8">

    <meta content="CloudApp" name="author" />

    <link href='/favicon.ico' rel='shortcut icon' />

    <link href='/text/stylesheets/base.css' rel='stylesheet' type='text/css' />
  </head>

  <body>
    <section id="content">
      <%= @drop.content %>
    </section>

    <footer id="footer">
      <p>
        <a href="#"><strong>Cloud</strong>App — Simple sharing</a>
      </p>
    </footer>
  </body>
</html>
