<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en">
  <head>
    <title><%= @drop.name %></title>

    <meta charset="utf-8">

    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, minimum-scale = 1.0, user-scalable = no" name="viewport">

    <meta content="CloudApp" name="author" />

    <link href='/favicon.ico' rel='shortcut icon' />

    <link href='/text/stylesheets/base.css' rel='stylesheet' type='text/css' />
  </head>

  <body>
    <section id="content">
      <%# This might not be the best solution. We'll keep our eyes open for encoding issues. %>
      <%= @drop.content.force_encoding('UTF-8') %>
    </section>

    <footer id="footer">
      <p>
        <a href="http://getcloudapp.com"><strong>Cloud</strong>App — Simple sharing</a>
      </p>
    </footer>
  </body>
</html>
