<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en">
  <head>
    <title><%= @drop.name %></title>

    <meta charset="utf-8">

    <meta content="CloudApp" name="author" />

    <link href='/favicon.ico' rel='shortcut icon' />
  </head>

  <body>
    <pre>
      <code>
        Hello World
      </code>
    </pre>
  </body>
</html>
