<header id="header">
  <h1><a href="http://www.getcloudapp.com/">Simple sharing</a></h1>

  <h2><%= @drop.name %></h2>

  <a class="embed" href="<%= @drop.content_url %>">Direct link</a>
</header>

<section class="monsoon" id="content">
  <%# It might not be the best solution to force UTF-8 encoding. We"ll keep our
      eyes open for encoding issues. %>
  <% if @drop.text? %>
    <pre><code><%= @drop.content.force_encoding('UTF-8') %></code></pre>
  <% else %>
    <%= @drop.content.force_encoding('UTF-8') %>
  <% end %>
</section>
