/*

title: slugs css
author: maximilian schoening @ bylinebreak.com

*/

/* section: reset
---------------------------------------------- */
@import url("reset.css");
/* ------------------------------------------- */

/* section: floating/clearing
---------------------------------------------- */
.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/* ------------------------------------------- */

/* section: base
---------------------------------------------- */
body {
  color: #2c2c2c;
  font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  font-size: 12px;
  -webkit-text-stroke: 1px transparent;
}
/* ------------------------------------------- */

/* section: embedded
---------------------------------------------- */
#image {
  background: url("/image/images/embedded_bg.png") repeat #27282c;
}

#image #container {
  margin: 10px;
}

#image #toolbar {
  background: url("/image/images/embedded_toolbar_bg.png") repeat-x;
  bottom: -33px;
  color: #4b4c4f;
  font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  font-size: 11px;
  height: 27px;
  left: 0;
  padding: 6px 0 0 0;
  position: fixed;
  text-shadow: 0 1px 0 #e5e5e5;
  width: 100%;
  z-index: 9999;
}

#image #toolbar #logo {
  float: left;
  margin: 3px 10px 0 10px;
}

#image #toolbar #logo h2 a {
  background: url("/image/images/embedded_logo_bg.png") no-repeat;
  display: block;
  height: 16px;
  text-indent: -99999px;
  width: 23px;
}

#image #toolbar #logo h3 {
  display: none;
}

#image #toolbar #embed {
  float: left;
  width: 300px;
}

#image #toolbar #embed label {
  float: left;
  display: block;
  margin: 5px 5px 0 0;
}

#image #toolbar #embed .input_text {
  background: #fff;
  border: 1px solid #9f9f9f;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #575757;
  display: block;
  float: left;
  font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  font-size: 11px;
  height: 20px;
  padding: 0 3px;
  vertical-align: baseline;
  width: 200px;
}

#image #toolbar #embed #clipboard {
  float: left;
  margin: 2px 0 0 5px;
}

#image #toolbar #embed #clipboard object {
  display: block;
  height: 18px;
  width: 14px;
}

#image .close {
  bottom: 7px;
  position: fixed;
  right: 10px;
  z-index: 99999;
}

#image .close a {
  background: url("/image/images/embedded_close_sprite.png") no-repeat 0 -57px;
  display: block;
  height: 19px;
  text-indent: -99999px;
  width: 19px;
}
/* ------------------------------------------- */
