/*

title: slugs css
author: maximilian schoening @ bylinebreak.com

*/

/* section: reset
---------------------------------------------- */
@import url("reset.css");
/* ------------------------------------------- */

/* section: floating/clearing
---------------------------------------------- */
.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
/* ------------------------------------------- */

/* section: base
---------------------------------------------- */
body {
  color: #2c2c2c;
  font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  font-size: 12px;
  -webkit-text-stroke: 1px transparent;
}
/* ------------------------------------------- */

/* section: download
---------------------------------------------- */
#other {
  background: #e6eaef;
}

#other #wrapper {
  margin: 150px auto;
  width: 450px;
}

#other #header {
  margin: 0 0 14px 0; /* 15px - 1px white drop-shadow */
  padding: 0 15px;
}

#other #header h2 a {
  background: url("/other/images/logo.png") no-repeat;
  display: block;
  height: 25px;
  text-indent: -99999em;
  width: 148px;
}

/* todo: define a:hover for logo */

#other #header p {
  color: #a3a7ae;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px; /* height of logo without drop-shadow */
  text-shadow: 0 1px 1px #fff;
}

#other #container {
  background: #fff;
  border: 1px solid #ced2d8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px;
  margin: 0 0 15px 0;
  padding: 14px; /* 15px - 1px border */
}

#other #container .item {
  background: #f4f5f6;
  border: 1px solid #cdcdcd;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 20px 20px 18px 20px;
}

#other #container .item .description {
  background-image: url("/other/images/item_types/unknown.png");
  background-position: left center;
  background-repeat: no-repeat;
  font-weight: normal;
  line-height: 22px;
  padding: 0 0 0 24px;
}

#other #container .item .image {
  background-image: url("/other/images/item_types/image.png");
}

#other #container .item .bookmark {
  background-image: url("/other/images/item_types/bookmark.png");  
}

#other #container .item .text {
  background-image: url("/other/images/item_types/text.png");
}

#other #container .item .archive {
  background-image: url("/other/images/item_types/archive.png");
}

#other #container .item .audio {
  background-image: url("/other/images/item_types/audio.png");
}

#other #container .item .video {
  background-image: url("/other/images/item_types/video.png");
}

#other #container .item .unknown {
  background-image: url("/other/images/item_types/unknown.png");
}

#other #container .item .download a {
  background: url("/other/images/download_button.png") no-repeat;
  display: block;
  height: 24px;
  text-indent: -99999em;
  width: 75px;
}

#other #container .item .download a:hover {
  background-position: 0 -24px;
}

#other #container .item .download a:active {
  background-position: 0 -48px;
}
/* ------------------------------------------- */
